@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.test-btn {
  background-color: #9900ff;
}

* {
  color: inherit;
  margin: 0;
}

body {
  font-family: Poppins;
}

ul {
  padding: 0;
  list-style-type: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

.text-primary {
  color: #09abc4;
}

.bg-primary {
  background-color: #09abc4;
}

.text-primary-light-1 {
  color: #22b3ca;
}

.text-hover-primary-light-1:hover {
  color: #22b3ca;
}

.bg-primary-light-1 {
  background-color: #22b3ca;
}

.text-primary-light-2 {
  color: #3abcd0;
}

.text-hover-primary-light-2:hover {
  color: #3abcd0;
}

.bg-primary-light-2 {
  background-color: #3abcd0;
}

.text-primary-light-3 {
  color: #53c4d6;
}

.text-hover-primary-light-3:hover {
  color: #53c4d6;
}

.bg-primary-light-3 {
  background-color: #53c4d6;
}

.text-primary-light-4 {
  color: #6bcddc;
}

.text-hover-primary-light-4:hover {
  color: #6bcddc;
}

.bg-primary-light-4 {
  background-color: #6bcddc;
}

.text-primary-light-5 {
  color: #84d5e2;
}

.text-hover-primary-light-5:hover {
  color: #84d5e2;
}

.bg-primary-light-5 {
  background-color: #84d5e2;
}

.text-primary-light-6 {
  color: #9ddde7;
}

.text-hover-primary-light-6:hover {
  color: #9ddde7;
}

.bg-primary-light-6 {
  background-color: #9ddde7;
}

.text-primary-light-7 {
  color: #b5e6ed;
}

.text-hover-primary-light-7:hover {
  color: #b5e6ed;
}

.bg-primary-light-7 {
  background-color: #b5e6ed;
}

.text-primary-light-8 {
  color: #ceeef3;
}

.text-hover-primary-light-8:hover {
  color: #ceeef3;
}

.bg-primary-light-8 {
  background-color: #ceeef3;
}

.text-primary-light-9 {
  color: #e6f7f9;
}

.text-hover-primary-light-9:hover {
  color: #e6f7f9;
}

.bg-primary-light-9 {
  background-color: #e6f7f9;
}

.text-primary-dark-1 {
  color: #089ab0;
}

.text-hover-primary-dark-1:hover {
  color: #089ab0;
}

.bg-primary-dark-1 {
  background-color: #089ab0;
}

.text-primary-dark-2 {
  color: #07899d;
}

.text-hover-primary-dark-2:hover {
  color: #07899d;
}

.bg-primary-dark-2 {
  background-color: #07899d;
}

.text-primary-dark-3 {
  color: #067889;
}

.text-hover-primary-dark-3:hover {
  color: #067889;
}

.bg-primary-dark-3 {
  background-color: #067889;
}

.text-primary-dark-4 {
  color: #056776;
}

.text-hover-primary-dark-4:hover {
  color: #056776;
}

.bg-primary-dark-4 {
  background-color: #056776;
}

.text-primary-dark-5 {
  color: #055662;
}

.text-hover-primary-dark-5:hover {
  color: #055662;
}

.bg-primary-dark-5 {
  background-color: #055662;
}

.text-primary-dark-6 {
  color: #04444e;
}

.text-hover-primary-dark-6:hover {
  color: #04444e;
}

.bg-primary-dark-6 {
  background-color: #04444e;
}

.text-primary-dark-7 {
  color: #03333b;
}

.text-hover-primary-dark-7:hover {
  color: #03333b;
}

.bg-primary-dark-7 {
  background-color: #03333b;
}

.text-primary-dark-8 {
  color: #022227;
}

.text-hover-primary-dark-8:hover {
  color: #022227;
}

.bg-primary-dark-8 {
  background-color: #022227;
}

.text-primary-dark-9 {
  color: #011114;
}

.text-hover-primary-dark-9:hover {
  color: #011114;
}

.bg-primary-dark-9 {
  background-color: #011114;
}

.text-secondary {
  color: #088a5a;
}

.bg-secondary {
  background-color: #088a5a;
}

.text-secondary-light-1 {
  color: #21966b;
}

.text-hover-secondary-light-1:hover {
  color: #21966b;
}

.bg-secondary-light-1 {
  background-color: #21966b;
}

.text-secondary-light-2 {
  color: #39a17b;
}

.text-hover-secondary-light-2:hover {
  color: #39a17b;
}

.bg-secondary-light-2 {
  background-color: #39a17b;
}

.text-secondary-light-3 {
  color: #52ad8c;
}

.text-hover-secondary-light-3:hover {
  color: #52ad8c;
}

.bg-secondary-light-3 {
  background-color: #52ad8c;
}

.text-secondary-light-4 {
  color: #6bb99c;
}

.text-hover-secondary-light-4:hover {
  color: #6bb99c;
}

.bg-secondary-light-4 {
  background-color: #6bb99c;
}

.text-secondary-light-5 {
  color: #84c5ad;
}

.text-hover-secondary-light-5:hover {
  color: #84c5ad;
}

.bg-secondary-light-5 {
  background-color: #84c5ad;
}

.text-secondary-light-6 {
  color: #9cd0bd;
}

.text-hover-secondary-light-6:hover {
  color: #9cd0bd;
}

.bg-secondary-light-6 {
  background-color: #9cd0bd;
}

.text-secondary-light-7 {
  color: #b5dcce;
}

.text-hover-secondary-light-7:hover {
  color: #b5dcce;
}

.bg-secondary-light-7 {
  background-color: #b5dcce;
}

.text-secondary-light-8 {
  color: #cee8de;
}

.text-hover-secondary-light-8:hover {
  color: #cee8de;
}

.bg-secondary-light-8 {
  background-color: #cee8de;
}

.text-secondary-light-9 {
  color: #e6f3ef;
}

.text-hover-secondary-light-9:hover {
  color: #e6f3ef;
}

.bg-secondary-light-9 {
  background-color: #e6f3ef;
}

.text-secondary-dark-1 {
  color: #077c51;
}

.text-hover-secondary-dark-1:hover {
  color: #077c51;
}

.bg-secondary-dark-1 {
  background-color: #077c51;
}

.text-secondary-dark-2 {
  color: #066e48;
}

.text-hover-secondary-dark-2:hover {
  color: #066e48;
}

.bg-secondary-dark-2 {
  background-color: #066e48;
}

.text-secondary-dark-3 {
  color: #06613f;
}

.text-hover-secondary-dark-3:hover {
  color: #06613f;
}

.bg-secondary-dark-3 {
  background-color: #06613f;
}

.text-secondary-dark-4 {
  color: #055336;
}

.text-hover-secondary-dark-4:hover {
  color: #055336;
}

.bg-secondary-dark-4 {
  background-color: #055336;
}

.text-secondary-dark-5 {
  color: #04452d;
}

.text-hover-secondary-dark-5:hover {
  color: #04452d;
}

.bg-secondary-dark-5 {
  background-color: #04452d;
}

.text-secondary-dark-6 {
  color: #033724;
}

.text-hover-secondary-dark-6:hover {
  color: #033724;
}

.bg-secondary-dark-6 {
  background-color: #033724;
}

.text-secondary-dark-7 {
  color: #02291b;
}

.text-hover-secondary-dark-7:hover {
  color: #02291b;
}

.bg-secondary-dark-7 {
  background-color: #02291b;
}

.text-secondary-dark-8 {
  color: #021c12;
}

.text-hover-secondary-dark-8:hover {
  color: #021c12;
}

.bg-secondary-dark-8 {
  background-color: #021c12;
}

.text-secondary-dark-9 {
  color: #010e09;
}

.text-hover-secondary-dark-9:hover {
  color: #010e09;
}

.bg-secondary-dark-9 {
  background-color: #010e09;
}

.text-error {
  color: #9c072c;
}

.bg-error {
  background-color: #9c072c;
}

.text-error-light-1 {
  color: #a62041;
}

.text-hover-error-light-1:hover {
  color: #a62041;
}

.bg-error-light-1 {
  background-color: #a62041;
}

.text-error-light-2 {
  color: #b03956;
}

.text-hover-error-light-2:hover {
  color: #b03956;
}

.bg-error-light-2 {
  background-color: #b03956;
}

.text-error-light-3 {
  color: #ba516b;
}

.text-hover-error-light-3:hover {
  color: #ba516b;
}

.bg-error-light-3 {
  background-color: #ba516b;
}

.text-error-light-4 {
  color: #c46a80;
}

.text-hover-error-light-4:hover {
  color: #c46a80;
}

.bg-error-light-4 {
  background-color: #c46a80;
}

.text-error-light-5 {
  color: #ce8396;
}

.text-hover-error-light-5:hover {
  color: #ce8396;
}

.bg-error-light-5 {
  background-color: #ce8396;
}

.text-error-light-6 {
  color: #d79cab;
}

.text-hover-error-light-6:hover {
  color: #d79cab;
}

.bg-error-light-6 {
  background-color: #d79cab;
}

.text-error-light-7 {
  color: #e1b5c0;
}

.text-hover-error-light-7:hover {
  color: #e1b5c0;
}

.bg-error-light-7 {
  background-color: #e1b5c0;
}

.text-error-light-8 {
  color: #ebcdd5;
}

.text-hover-error-light-8:hover {
  color: #ebcdd5;
}

.bg-error-light-8 {
  background-color: #ebcdd5;
}

.text-error-light-9 {
  color: #f5e6ea;
}

.text-hover-error-light-9:hover {
  color: #f5e6ea;
}

.bg-error-light-9 {
  background-color: #f5e6ea;
}

.text-error-dark-1 {
  color: #8c0628;
}

.text-hover-error-dark-1:hover {
  color: #8c0628;
}

.bg-error-dark-1 {
  background-color: #8c0628;
}

.text-error-dark-2 {
  color: #7d0623;
}

.text-hover-error-dark-2:hover {
  color: #7d0623;
}

.bg-error-dark-2 {
  background-color: #7d0623;
}

.text-error-dark-3 {
  color: #6d051f;
}

.text-hover-error-dark-3:hover {
  color: #6d051f;
}

.bg-error-dark-3 {
  background-color: #6d051f;
}

.text-error-dark-4 {
  color: #5e041a;
}

.text-hover-error-dark-4:hover {
  color: #5e041a;
}

.bg-error-dark-4 {
  background-color: #5e041a;
}

.text-error-dark-5 {
  color: #4e0416;
}

.text-hover-error-dark-5:hover {
  color: #4e0416;
}

.bg-error-dark-5 {
  background-color: #4e0416;
}

.text-error-dark-6 {
  color: #3e0312;
}

.text-hover-error-dark-6:hover {
  color: #3e0312;
}

.bg-error-dark-6 {
  background-color: #3e0312;
}

.text-error-dark-7 {
  color: #2f020d;
}

.text-hover-error-dark-7:hover {
  color: #2f020d;
}

.bg-error-dark-7 {
  background-color: #2f020d;
}

.text-error-dark-8 {
  color: #1f0109;
}

.text-hover-error-dark-8:hover {
  color: #1f0109;
}

.bg-error-dark-8 {
  background-color: #1f0109;
}

.text-error-dark-9 {
  color: #100104;
}

.text-hover-error-dark-9:hover {
  color: #100104;
}

.bg-error-dark-9 {
  background-color: #100104;
}

.text-info {
  color: #a88100;
}

.bg-info {
  background-color: #a88100;
}

.text-info-light-1 {
  color: #b18e1a;
}

.text-hover-info-light-1:hover {
  color: #b18e1a;
}

.bg-info-light-1 {
  background-color: #b18e1a;
}

.text-info-light-2 {
  color: #b99a33;
}

.text-hover-info-light-2:hover {
  color: #b99a33;
}

.bg-info-light-2 {
  background-color: #b99a33;
}

.text-info-light-3 {
  color: #c2a74d;
}

.text-hover-info-light-3:hover {
  color: #c2a74d;
}

.bg-info-light-3 {
  background-color: #c2a74d;
}

.text-info-light-4 {
  color: #cbb366;
}

.text-hover-info-light-4:hover {
  color: #cbb366;
}

.bg-info-light-4 {
  background-color: #cbb366;
}

.text-info-light-5 {
  color: #d4c080;
}

.text-hover-info-light-5:hover {
  color: #d4c080;
}

.bg-info-light-5 {
  background-color: #d4c080;
}

.text-info-light-6 {
  color: #dccd99;
}

.text-hover-info-light-6:hover {
  color: #dccd99;
}

.bg-info-light-6 {
  background-color: #dccd99;
}

.text-info-light-7 {
  color: #e5d9b3;
}

.text-hover-info-light-7:hover {
  color: #e5d9b3;
}

.bg-info-light-7 {
  background-color: #e5d9b3;
}

.text-info-light-8 {
  color: #eee6cc;
}

.text-hover-info-light-8:hover {
  color: #eee6cc;
}

.bg-info-light-8 {
  background-color: #eee6cc;
}

.text-info-light-9 {
  color: #f6f2e6;
}

.text-hover-info-light-9:hover {
  color: #f6f2e6;
}

.bg-info-light-9 {
  background-color: #f6f2e6;
}

.text-info-dark-1 {
  color: #977400;
}

.text-hover-info-dark-1:hover {
  color: #977400;
}

.bg-info-dark-1 {
  background-color: #977400;
}

.text-info-dark-2 {
  color: #866700;
}

.text-hover-info-dark-2:hover {
  color: #866700;
}

.bg-info-dark-2 {
  background-color: #866700;
}

.text-info-dark-3 {
  color: #765a00;
}

.text-hover-info-dark-3:hover {
  color: #765a00;
}

.bg-info-dark-3 {
  background-color: #765a00;
}

.text-info-dark-4 {
  color: #654d00;
}

.text-hover-info-dark-4:hover {
  color: #654d00;
}

.bg-info-dark-4 {
  background-color: #654d00;
}

.text-info-dark-5 {
  color: #544100;
}

.text-hover-info-dark-5:hover {
  color: #544100;
}

.bg-info-dark-5 {
  background-color: #544100;
}

.text-info-dark-6 {
  color: #433400;
}

.text-hover-info-dark-6:hover {
  color: #433400;
}

.bg-info-dark-6 {
  background-color: #433400;
}

.text-info-dark-7 {
  color: #322700;
}

.text-hover-info-dark-7:hover {
  color: #322700;
}

.bg-info-dark-7 {
  background-color: #322700;
}

.text-info-dark-8 {
  color: #221a00;
}

.text-hover-info-dark-8:hover {
  color: #221a00;
}

.bg-info-dark-8 {
  background-color: #221a00;
}

.text-info-dark-9 {
  color: #110d00;
}

.text-hover-info-dark-9:hover {
  color: #110d00;
}

.bg-info-dark-9 {
  background-color: #110d00;
}

.text-blue {
  color: #1919e6;
}

.bg-blue {
  background-color: #1919e6;
}

.text-blue-light-1 {
  color: #3030e9;
}

.text-hover-blue-light-1:hover {
  color: #3030e9;
}

.bg-blue-light-1 {
  background-color: #3030e9;
}

.text-blue-light-2 {
  color: #4747eb;
}

.text-hover-blue-light-2:hover {
  color: #4747eb;
}

.bg-blue-light-2 {
  background-color: #4747eb;
}

.text-blue-light-3 {
  color: #5e5eee;
}

.text-hover-blue-light-3:hover {
  color: #5e5eee;
}

.bg-blue-light-3 {
  background-color: #5e5eee;
}

.text-blue-light-4 {
  color: #7575f0;
}

.text-hover-blue-light-4:hover {
  color: #7575f0;
}

.bg-blue-light-4 {
  background-color: #7575f0;
}

.text-blue-light-5 {
  color: #8c8cf3;
}

.text-hover-blue-light-5:hover {
  color: #8c8cf3;
}

.bg-blue-light-5 {
  background-color: #8c8cf3;
}

.text-blue-light-6 {
  color: #a3a3f5;
}

.text-hover-blue-light-6:hover {
  color: #a3a3f5;
}

.bg-blue-light-6 {
  background-color: #a3a3f5;
}

.text-blue-light-7 {
  color: #babaf8;
}

.text-hover-blue-light-7:hover {
  color: #babaf8;
}

.bg-blue-light-7 {
  background-color: #babaf8;
}

.text-blue-light-8 {
  color: #d1d1fa;
}

.text-hover-blue-light-8:hover {
  color: #d1d1fa;
}

.bg-blue-light-8 {
  background-color: #d1d1fa;
}

.text-blue-light-9 {
  color: #e8e8fd;
}

.text-hover-blue-light-9:hover {
  color: #e8e8fd;
}

.bg-blue-light-9 {
  background-color: #e8e8fd;
}

.text-blue-dark-1 {
  color: #1717cf;
}

.text-hover-blue-dark-1:hover {
  color: #1717cf;
}

.bg-blue-dark-1 {
  background-color: #1717cf;
}

.text-blue-dark-2 {
  color: #1414b8;
}

.text-hover-blue-dark-2:hover {
  color: #1414b8;
}

.bg-blue-dark-2 {
  background-color: #1414b8;
}

.text-blue-dark-3 {
  color: #1212a1;
}

.text-hover-blue-dark-3:hover {
  color: #1212a1;
}

.bg-blue-dark-3 {
  background-color: #1212a1;
}

.text-blue-dark-4 {
  color: #0f0f8a;
}

.text-hover-blue-dark-4:hover {
  color: #0f0f8a;
}

.bg-blue-dark-4 {
  background-color: #0f0f8a;
}

.text-blue-dark-5 {
  color: #0d0d73;
}

.text-hover-blue-dark-5:hover {
  color: #0d0d73;
}

.bg-blue-dark-5 {
  background-color: #0d0d73;
}

.text-blue-dark-6 {
  color: #0a0a5c;
}

.text-hover-blue-dark-6:hover {
  color: #0a0a5c;
}

.bg-blue-dark-6 {
  background-color: #0a0a5c;
}

.text-blue-dark-7 {
  color: #080845;
}

.text-hover-blue-dark-7:hover {
  color: #080845;
}

.bg-blue-dark-7 {
  background-color: #080845;
}

.text-blue-dark-8 {
  color: #05052e;
}

.text-hover-blue-dark-8:hover {
  color: #05052e;
}

.bg-blue-dark-8 {
  background-color: #05052e;
}

.text-blue-dark-9 {
  color: #030317;
}

.text-hover-blue-dark-9:hover {
  color: #030317;
}

.bg-blue-dark-9 {
  background-color: #030317;
}

.text-red {
  color: #e61919;
}

.bg-red {
  background-color: #e61919;
}

.text-red-light-1 {
  color: #e93030;
}

.text-hover-red-light-1:hover {
  color: #e93030;
}

.bg-red-light-1 {
  background-color: #e93030;
}

.text-red-light-2 {
  color: #eb4747;
}

.text-hover-red-light-2:hover {
  color: #eb4747;
}

.bg-red-light-2 {
  background-color: #eb4747;
}

.text-red-light-3 {
  color: #ee5e5e;
}

.text-hover-red-light-3:hover {
  color: #ee5e5e;
}

.bg-red-light-3 {
  background-color: #ee5e5e;
}

.text-red-light-4 {
  color: #f07575;
}

.text-hover-red-light-4:hover {
  color: #f07575;
}

.bg-red-light-4 {
  background-color: #f07575;
}

.text-red-light-5 {
  color: #f38c8c;
}

.text-hover-red-light-5:hover {
  color: #f38c8c;
}

.bg-red-light-5 {
  background-color: #f38c8c;
}

.text-red-light-6 {
  color: #f5a3a3;
}

.text-hover-red-light-6:hover {
  color: #f5a3a3;
}

.bg-red-light-6 {
  background-color: #f5a3a3;
}

.text-red-light-7 {
  color: #f8baba;
}

.text-hover-red-light-7:hover {
  color: #f8baba;
}

.bg-red-light-7 {
  background-color: #f8baba;
}

.text-red-light-8 {
  color: #fad1d1;
}

.text-hover-red-light-8:hover {
  color: #fad1d1;
}

.bg-red-light-8 {
  background-color: #fad1d1;
}

.text-red-light-9 {
  color: #fde8e8;
}

.text-hover-red-light-9:hover {
  color: #fde8e8;
}

.bg-red-light-9 {
  background-color: #fde8e8;
}

.text-red-dark-1 {
  color: #cf1717;
}

.text-hover-red-dark-1:hover {
  color: #cf1717;
}

.bg-red-dark-1 {
  background-color: #cf1717;
}

.text-red-dark-2 {
  color: #b81414;
}

.text-hover-red-dark-2:hover {
  color: #b81414;
}

.bg-red-dark-2 {
  background-color: #b81414;
}

.text-red-dark-3 {
  color: #a11212;
}

.text-hover-red-dark-3:hover {
  color: #a11212;
}

.bg-red-dark-3 {
  background-color: #a11212;
}

.text-red-dark-4 {
  color: #8a0f0f;
}

.text-hover-red-dark-4:hover {
  color: #8a0f0f;
}

.bg-red-dark-4 {
  background-color: #8a0f0f;
}

.text-red-dark-5 {
  color: #730d0d;
}

.text-hover-red-dark-5:hover {
  color: #730d0d;
}

.bg-red-dark-5 {
  background-color: #730d0d;
}

.text-red-dark-6 {
  color: #5c0a0a;
}

.text-hover-red-dark-6:hover {
  color: #5c0a0a;
}

.bg-red-dark-6 {
  background-color: #5c0a0a;
}

.text-red-dark-7 {
  color: #450808;
}

.text-hover-red-dark-7:hover {
  color: #450808;
}

.bg-red-dark-7 {
  background-color: #450808;
}

.text-red-dark-8 {
  color: #2e0505;
}

.text-hover-red-dark-8:hover {
  color: #2e0505;
}

.bg-red-dark-8 {
  background-color: #2e0505;
}

.text-red-dark-9 {
  color: #170303;
}

.text-hover-red-dark-9:hover {
  color: #170303;
}

.bg-red-dark-9 {
  background-color: #170303;
}

.text-yellow {
  color: #e6e619;
}

.bg-yellow {
  background-color: #e6e619;
}

.text-yellow-light-1 {
  color: #e9e930;
}

.text-hover-yellow-light-1:hover {
  color: #e9e930;
}

.bg-yellow-light-1 {
  background-color: #e9e930;
}

.text-yellow-light-2 {
  color: #ebeb47;
}

.text-hover-yellow-light-2:hover {
  color: #ebeb47;
}

.bg-yellow-light-2 {
  background-color: #ebeb47;
}

.text-yellow-light-3 {
  color: #eeee5e;
}

.text-hover-yellow-light-3:hover {
  color: #eeee5e;
}

.bg-yellow-light-3 {
  background-color: #eeee5e;
}

.text-yellow-light-4 {
  color: #f0f075;
}

.text-hover-yellow-light-4:hover {
  color: #f0f075;
}

.bg-yellow-light-4 {
  background-color: #f0f075;
}

.text-yellow-light-5 {
  color: #f3f38c;
}

.text-hover-yellow-light-5:hover {
  color: #f3f38c;
}

.bg-yellow-light-5 {
  background-color: #f3f38c;
}

.text-yellow-light-6 {
  color: #f5f5a3;
}

.text-hover-yellow-light-6:hover {
  color: #f5f5a3;
}

.bg-yellow-light-6 {
  background-color: #f5f5a3;
}

.text-yellow-light-7 {
  color: #f8f8ba;
}

.text-hover-yellow-light-7:hover {
  color: #f8f8ba;
}

.bg-yellow-light-7 {
  background-color: #f8f8ba;
}

.text-yellow-light-8 {
  color: #fafad1;
}

.text-hover-yellow-light-8:hover {
  color: #fafad1;
}

.bg-yellow-light-8 {
  background-color: #fafad1;
}

.text-yellow-light-9 {
  color: #fdfde8;
}

.text-hover-yellow-light-9:hover {
  color: #fdfde8;
}

.bg-yellow-light-9 {
  background-color: #fdfde8;
}

.text-yellow-dark-1 {
  color: #cfcf17;
}

.text-hover-yellow-dark-1:hover {
  color: #cfcf17;
}

.bg-yellow-dark-1 {
  background-color: #cfcf17;
}

.text-yellow-dark-2 {
  color: #b8b814;
}

.text-hover-yellow-dark-2:hover {
  color: #b8b814;
}

.bg-yellow-dark-2 {
  background-color: #b8b814;
}

.text-yellow-dark-3 {
  color: #a1a112;
}

.text-hover-yellow-dark-3:hover {
  color: #a1a112;
}

.bg-yellow-dark-3 {
  background-color: #a1a112;
}

.text-yellow-dark-4 {
  color: #8a8a0f;
}

.text-hover-yellow-dark-4:hover {
  color: #8a8a0f;
}

.bg-yellow-dark-4 {
  background-color: #8a8a0f;
}

.text-yellow-dark-5 {
  color: #73730d;
}

.text-hover-yellow-dark-5:hover {
  color: #73730d;
}

.bg-yellow-dark-5 {
  background-color: #73730d;
}

.text-yellow-dark-6 {
  color: #5c5c0a;
}

.text-hover-yellow-dark-6:hover {
  color: #5c5c0a;
}

.bg-yellow-dark-6 {
  background-color: #5c5c0a;
}

.text-yellow-dark-7 {
  color: #454508;
}

.text-hover-yellow-dark-7:hover {
  color: #454508;
}

.bg-yellow-dark-7 {
  background-color: #454508;
}

.text-yellow-dark-8 {
  color: #2e2e05;
}

.text-hover-yellow-dark-8:hover {
  color: #2e2e05;
}

.bg-yellow-dark-8 {
  background-color: #2e2e05;
}

.text-yellow-dark-9 {
  color: #171703;
}

.text-hover-yellow-dark-9:hover {
  color: #171703;
}

.bg-yellow-dark-9 {
  background-color: #171703;
}

.text-green {
  color: #19e635;
}

.bg-green {
  background-color: #19e635;
}

.text-green-light-1 {
  color: #30e949;
}

.text-hover-green-light-1:hover {
  color: #30e949;
}

.bg-green-light-1 {
  background-color: #30e949;
}

.text-green-light-2 {
  color: #47eb5d;
}

.text-hover-green-light-2:hover {
  color: #47eb5d;
}

.bg-green-light-2 {
  background-color: #47eb5d;
}

.text-green-light-3 {
  color: #5eee72;
}

.text-hover-green-light-3:hover {
  color: #5eee72;
}

.bg-green-light-3 {
  background-color: #5eee72;
}

.text-green-light-4 {
  color: #75f086;
}

.text-hover-green-light-4:hover {
  color: #75f086;
}

.bg-green-light-4 {
  background-color: #75f086;
}

.text-green-light-5 {
  color: #8cf39a;
}

.text-hover-green-light-5:hover {
  color: #8cf39a;
}

.bg-green-light-5 {
  background-color: #8cf39a;
}

.text-green-light-6 {
  color: #a3f5ae;
}

.text-hover-green-light-6:hover {
  color: #a3f5ae;
}

.bg-green-light-6 {
  background-color: #a3f5ae;
}

.text-green-light-7 {
  color: #baf8c2;
}

.text-hover-green-light-7:hover {
  color: #baf8c2;
}

.bg-green-light-7 {
  background-color: #baf8c2;
}

.text-green-light-8 {
  color: #d1fad7;
}

.text-hover-green-light-8:hover {
  color: #d1fad7;
}

.bg-green-light-8 {
  background-color: #d1fad7;
}

.text-green-light-9 {
  color: #e8fdeb;
}

.text-hover-green-light-9:hover {
  color: #e8fdeb;
}

.bg-green-light-9 {
  background-color: #e8fdeb;
}

.text-green-dark-1 {
  color: #17cf30;
}

.text-hover-green-dark-1:hover {
  color: #17cf30;
}

.bg-green-dark-1 {
  background-color: #17cf30;
}

.text-green-dark-2 {
  color: #14b82a;
}

.text-hover-green-dark-2:hover {
  color: #14b82a;
}

.bg-green-dark-2 {
  background-color: #14b82a;
}

.text-green-dark-3 {
  color: #12a125;
}

.text-hover-green-dark-3:hover {
  color: #12a125;
}

.bg-green-dark-3 {
  background-color: #12a125;
}

.text-green-dark-4 {
  color: #0f8a20;
}

.text-hover-green-dark-4:hover {
  color: #0f8a20;
}

.bg-green-dark-4 {
  background-color: #0f8a20;
}

.text-green-dark-5 {
  color: #0d731b;
}

.text-hover-green-dark-5:hover {
  color: #0d731b;
}

.bg-green-dark-5 {
  background-color: #0d731b;
}

.text-green-dark-6 {
  color: #0a5c15;
}

.text-hover-green-dark-6:hover {
  color: #0a5c15;
}

.bg-green-dark-6 {
  background-color: #0a5c15;
}

.text-green-dark-7 {
  color: #084510;
}

.text-hover-green-dark-7:hover {
  color: #084510;
}

.bg-green-dark-7 {
  background-color: #084510;
}

.text-green-dark-8 {
  color: #052e0b;
}

.text-hover-green-dark-8:hover {
  color: #052e0b;
}

.bg-green-dark-8 {
  background-color: #052e0b;
}

.text-green-dark-9 {
  color: #031705;
}

.text-hover-green-dark-9:hover {
  color: #031705;
}

.bg-green-dark-9 {
  background-color: #031705;
}

.text-orange {
  color: #ffa600;
}

.bg-orange {
  background-color: #ffa600;
}

.text-orange-light-1 {
  color: #ffaf1a;
}

.text-hover-orange-light-1:hover {
  color: #ffaf1a;
}

.bg-orange-light-1 {
  background-color: #ffaf1a;
}

.text-orange-light-2 {
  color: #ffb833;
}

.text-hover-orange-light-2:hover {
  color: #ffb833;
}

.bg-orange-light-2 {
  background-color: #ffb833;
}

.text-orange-light-3 {
  color: #ffc14d;
}

.text-hover-orange-light-3:hover {
  color: #ffc14d;
}

.bg-orange-light-3 {
  background-color: #ffc14d;
}

.text-orange-light-4 {
  color: #ffca66;
}

.text-hover-orange-light-4:hover {
  color: #ffca66;
}

.bg-orange-light-4 {
  background-color: #ffca66;
}

.text-orange-light-5 {
  color: #ffd380;
}

.text-hover-orange-light-5:hover {
  color: #ffd380;
}

.bg-orange-light-5 {
  background-color: #ffd380;
}

.text-orange-light-6 {
  color: #ffdb99;
}

.text-hover-orange-light-6:hover {
  color: #ffdb99;
}

.bg-orange-light-6 {
  background-color: #ffdb99;
}

.text-orange-light-7 {
  color: #ffe4b3;
}

.text-hover-orange-light-7:hover {
  color: #ffe4b3;
}

.bg-orange-light-7 {
  background-color: #ffe4b3;
}

.text-orange-light-8 {
  color: #ffedcc;
}

.text-hover-orange-light-8:hover {
  color: #ffedcc;
}

.bg-orange-light-8 {
  background-color: #ffedcc;
}

.text-orange-light-9 {
  color: #fff6e6;
}

.text-hover-orange-light-9:hover {
  color: #fff6e6;
}

.bg-orange-light-9 {
  background-color: #fff6e6;
}

.text-orange-dark-1 {
  color: #e69500;
}

.text-hover-orange-dark-1:hover {
  color: #e69500;
}

.bg-orange-dark-1 {
  background-color: #e69500;
}

.text-orange-dark-2 {
  color: #cc8500;
}

.text-hover-orange-dark-2:hover {
  color: #cc8500;
}

.bg-orange-dark-2 {
  background-color: #cc8500;
}

.text-orange-dark-3 {
  color: #b37400;
}

.text-hover-orange-dark-3:hover {
  color: #b37400;
}

.bg-orange-dark-3 {
  background-color: #b37400;
}

.text-orange-dark-4 {
  color: #996400;
}

.text-hover-orange-dark-4:hover {
  color: #996400;
}

.bg-orange-dark-4 {
  background-color: #996400;
}

.text-orange-dark-5 {
  color: #805300;
}

.text-hover-orange-dark-5:hover {
  color: #805300;
}

.bg-orange-dark-5 {
  background-color: #805300;
}

.text-orange-dark-6 {
  color: #664200;
}

.text-hover-orange-dark-6:hover {
  color: #664200;
}

.bg-orange-dark-6 {
  background-color: #664200;
}

.text-orange-dark-7 {
  color: #4d3200;
}

.text-hover-orange-dark-7:hover {
  color: #4d3200;
}

.bg-orange-dark-7 {
  background-color: #4d3200;
}

.text-orange-dark-8 {
  color: #332100;
}

.text-hover-orange-dark-8:hover {
  color: #332100;
}

.bg-orange-dark-8 {
  background-color: #332100;
}

.text-orange-dark-9 {
  color: #1a1100;
}

.text-hover-orange-dark-9:hover {
  color: #1a1100;
}

.bg-orange-dark-9 {
  background-color: #1a1100;
}

.text-purple {
  color: #9900ff;
}

.bg-purple {
  background-color: #9900ff;
}

.text-purple-light-1 {
  color: #a31aff;
}

.text-hover-purple-light-1:hover {
  color: #a31aff;
}

.bg-purple-light-1 {
  background-color: #a31aff;
}

.text-purple-light-2 {
  color: #ad33ff;
}

.text-hover-purple-light-2:hover {
  color: #ad33ff;
}

.bg-purple-light-2 {
  background-color: #ad33ff;
}

.text-purple-light-3 {
  color: #b84dff;
}

.text-hover-purple-light-3:hover {
  color: #b84dff;
}

.bg-purple-light-3 {
  background-color: #b84dff;
}

.text-purple-light-4 {
  color: #c266ff;
}

.text-hover-purple-light-4:hover {
  color: #c266ff;
}

.bg-purple-light-4 {
  background-color: #c266ff;
}

.text-purple-light-5 {
  color: #cc80ff;
}

.text-hover-purple-light-5:hover {
  color: #cc80ff;
}

.bg-purple-light-5 {
  background-color: #cc80ff;
}

.text-purple-light-6 {
  color: #d699ff;
}

.text-hover-purple-light-6:hover {
  color: #d699ff;
}

.bg-purple-light-6 {
  background-color: #d699ff;
}

.text-purple-light-7 {
  color: #e0b3ff;
}

.text-hover-purple-light-7:hover {
  color: #e0b3ff;
}

.bg-purple-light-7 {
  background-color: #e0b3ff;
}

.text-purple-light-8 {
  color: #ebccff;
}

.text-hover-purple-light-8:hover {
  color: #ebccff;
}

.bg-purple-light-8 {
  background-color: #ebccff;
}

.text-purple-light-9 {
  color: #f5e6ff;
}

.text-hover-purple-light-9:hover {
  color: #f5e6ff;
}

.bg-purple-light-9 {
  background-color: #f5e6ff;
}

.text-purple-dark-1 {
  color: #8a00e6;
}

.text-hover-purple-dark-1:hover {
  color: #8a00e6;
}

.bg-purple-dark-1 {
  background-color: #8a00e6;
}

.text-purple-dark-2 {
  color: #7a00cc;
}

.text-hover-purple-dark-2:hover {
  color: #7a00cc;
}

.bg-purple-dark-2 {
  background-color: #7a00cc;
}

.text-purple-dark-3 {
  color: #6b00b3;
}

.text-hover-purple-dark-3:hover {
  color: #6b00b3;
}

.bg-purple-dark-3 {
  background-color: #6b00b3;
}

.text-purple-dark-4 {
  color: #5c0099;
}

.text-hover-purple-dark-4:hover {
  color: #5c0099;
}

.bg-purple-dark-4 {
  background-color: #5c0099;
}

.text-purple-dark-5 {
  color: #4d0080;
}

.text-hover-purple-dark-5:hover {
  color: #4d0080;
}

.bg-purple-dark-5 {
  background-color: #4d0080;
}

.text-purple-dark-6 {
  color: #3d0066;
}

.text-hover-purple-dark-6:hover {
  color: #3d0066;
}

.bg-purple-dark-6 {
  background-color: #3d0066;
}

.text-purple-dark-7 {
  color: #2e004d;
}

.text-hover-purple-dark-7:hover {
  color: #2e004d;
}

.bg-purple-dark-7 {
  background-color: #2e004d;
}

.text-purple-dark-8 {
  color: #1f0033;
}

.text-hover-purple-dark-8:hover {
  color: #1f0033;
}

.bg-purple-dark-8 {
  background-color: #1f0033;
}

.text-purple-dark-9 {
  color: #0f001a;
}

.text-hover-purple-dark-9:hover {
  color: #0f001a;
}

.bg-purple-dark-9 {
  background-color: #0f001a;
}

.text-gray {
  color: #808080;
}

.bg-gray {
  background-color: #808080;
}

.text-gray-light-1 {
  color: #8d8d8d;
}

.text-hover-gray-light-1:hover {
  color: #8d8d8d;
}

.bg-gray-light-1 {
  background-color: #8d8d8d;
}

.text-gray-light-2 {
  color: #999999;
}

.text-hover-gray-light-2:hover {
  color: #999999;
}

.bg-gray-light-2 {
  background-color: #999999;
}

.text-gray-light-3 {
  color: #a6a6a6;
}

.text-hover-gray-light-3:hover {
  color: #a6a6a6;
}

.bg-gray-light-3 {
  background-color: #a6a6a6;
}

.text-gray-light-4 {
  color: #b3b3b3;
}

.text-hover-gray-light-4:hover {
  color: #b3b3b3;
}

.bg-gray-light-4 {
  background-color: #b3b3b3;
}

.text-gray-light-5 {
  color: silver;
}

.text-hover-gray-light-5:hover {
  color: silver;
}

.bg-gray-light-5 {
  background-color: silver;
}

.text-gray-light-6 {
  color: #cccccc;
}

.text-hover-gray-light-6:hover {
  color: #cccccc;
}

.bg-gray-light-6 {
  background-color: #cccccc;
}

.text-gray-light-7 {
  color: #d9d9d9;
}

.text-hover-gray-light-7:hover {
  color: #d9d9d9;
}

.bg-gray-light-7 {
  background-color: #d9d9d9;
}

.text-gray-light-8 {
  color: #e6e6e6;
}

.text-hover-gray-light-8:hover {
  color: #e6e6e6;
}

.bg-gray-light-8 {
  background-color: #e6e6e6;
}

.text-gray-light-9 {
  color: #f2f2f2;
}

.text-hover-gray-light-9:hover {
  color: #f2f2f2;
}

.bg-gray-light-9 {
  background-color: #f2f2f2;
}

.text-gray-dark-1 {
  color: #737373;
}

.text-hover-gray-dark-1:hover {
  color: #737373;
}

.bg-gray-dark-1 {
  background-color: #737373;
}

.text-gray-dark-2 {
  color: #666666;
}

.text-hover-gray-dark-2:hover {
  color: #666666;
}

.bg-gray-dark-2 {
  background-color: #666666;
}

.text-gray-dark-3 {
  color: #5a5a5a;
}

.text-hover-gray-dark-3:hover {
  color: #5a5a5a;
}

.bg-gray-dark-3 {
  background-color: #5a5a5a;
}

.text-gray-dark-4 {
  color: #4d4d4d;
}

.text-hover-gray-dark-4:hover {
  color: #4d4d4d;
}

.bg-gray-dark-4 {
  background-color: #4d4d4d;
}

.text-gray-dark-5 {
  color: #404040;
}

.text-hover-gray-dark-5:hover {
  color: #404040;
}

.bg-gray-dark-5 {
  background-color: #404040;
}

.text-gray-dark-6 {
  color: #333333;
}

.text-hover-gray-dark-6:hover {
  color: #333333;
}

.bg-gray-dark-6 {
  background-color: #333333;
}

.text-gray-dark-7 {
  color: #262626;
}

.text-hover-gray-dark-7:hover {
  color: #262626;
}

.bg-gray-dark-7 {
  background-color: #262626;
}

.text-gray-dark-8 {
  color: #1a1a1a;
}

.text-hover-gray-dark-8:hover {
  color: #1a1a1a;
}

.bg-gray-dark-8 {
  background-color: #1a1a1a;
}

.text-gray-dark-9 {
  color: #0d0d0d;
}

.text-hover-gray-dark-9:hover {
  color: #0d0d0d;
}

.bg-gray-dark-9 {
  background-color: #0d0d0d;
}

.text-black {
  color: black;
}

.bg-black {
  background-color: black;
}

.text-white {
  color: white;
}

.bg-white {
  background-color: white;
}

.test-if {
  color: black;
}

.card {
  display: block;
  padding: 0.75rem;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.card .card-title {
  font-size: 1.75rem;
  padding-bottom: 0.75rem;
  font-weight: bold;
}
.card .card-body {
  font-size: 1rem;
}
.card .card-body a {
  text-decoration: underline;
}