// variabes
// theme colors

$primary: #09abc4;
$secondary: #088a5a;
$error: #9c072c;
$info: #a88100;

// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 20px;
